{% extends 'base.html' %}

{% block title %}

    Lista de Professores - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Lista de Professores</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a href="{% url 'teachers:add_teacher' %}">Cadastro de novo professor</a>
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col">Ano de Nascimento</th>
                    <th scope="col">Gênero</th>
                    <th scope="col">Endereco</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Especialização</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for teacher in teachers %}
                        <tr>
                           <th scope="row">{{ teacher.id }}</th>
                            <td>{{ teacher.first_name }}</td>
                            <td>{{ teacher.last_name }}</td>
                            <td>{{ teacher.birth_year }}</td>
                            <td>{{ teacher.gender }}</td>
                            <td>{{ teacher.address }}</td>
                            <td>{{ teacher.cell_phone }}</td>
                            <td>{{ teacher.email }}</td>
                            <td>{{ teacher.specialization }}</td>
                            <td>
                                <a href="{% url 'teachers:edit_teacher' teacher.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'teachers:delete_teacher' teacher.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}