{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}

    Adicionar Curso - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
    <h5><b>Cadastro de Curso</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                   <label for="{{ form.first_name.id_for_label }}">Nome</label>
                   {{ form.first_name|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.course_load.id_for_label }}">Carga Horária</label>
                    {{ form.course_load|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.address.description }}">Descrição</label>
                    {{ form.description|add_class:"form-control" }}
                </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>       
                </form>
            </div>
        </div>
    </div>

{% endblock body %}