{% extends 'base.html' %}

{% block title %}

    Lista de Cursos - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Lista de Cursos</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a href="{% url 'classes:add_class' %}">Cadastro de novo curso</a>
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Carga Horária</th>
                    <th scope="col">Descrição</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for class in classes %}
                        <tr>
                            <th scope="row">{{ class.id }}</th>
                            <td>{{ class.name }}</td>
                            <td>{{ class.course_load }}</td>
                            <td>{{ class.description }}</td>
                            <td>
                                <a href="{% url 'classes:edit_class' class.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'classes:delete_class' class.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}